{% extends 'base.html' %}

{% block title %} contact{% endblock title %}


{% block body %}
<div class="Container-fluid,px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 mx-0" alt="...">
<h3 style="
    left: 548px;
    position: absolute;
    top: 291px;
">Contact Us</h3>
</div>
<div class="container mb-3 py-4 ">

    <h3 class="text-center">Fill these form to Contact us</h3>

    <form method="post" action="/contact">
        {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
  </div>

        <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
  </div>
 <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="number" class="form-control" id="phone" name="phone" placeholder="mobile no">
  </div>

  <div class="form-group">
    <label for="desc">For What You want to contact us</label>

    <textarea class="form-control" id="desc" rows="2" name="desc" ></textarea>
  </div>

        <button class= "btn btn-primary"type="submit">Submit</button>
</form>
</div>
{% endblock body %}
